<header>
    <div class="logoNav">
        <img src="static/assets/logo/full_logo.png" class="full" draggable="false">
        <img src="static/assets/logo/small_logo.png" class="mini" draggable="false">
    </div>
    <nav class="headerNav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <button id="menuToggle" onclick="triggerResBars()">
        <div class="menuOne"></div>
        <div class="menuTwo"></div>
        <div class="menuThree"></div>
    </button>
</header>
<div class="filler"></div>