<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <title>Tino's</title>
</head>
<body>
    {% include '_header.html' %}
    <!---->
    <div id="announce">
        <p> El local está cerrado por el momento. </p>
        </p>
    </div>
    <!---->
    <main>
        <!--NAV--SIDE---------->
        <section id="sideNavContainer" class="sides">
            <ul class="stickySide sideNav">
                <a href="#" class="textHover"><li>Promos</li></a>
                <a href="#" class="textHover"><li>Burgers</li></a>
                <a href="#" class="textHover"><li>Papas</li></a>
                <a href="#" class="textHover"><li>Drinks</li></a>
            </ul>
        </section>
        <!---MAIN--CONTAINER---->
        <section id="mainProductsContainer">
            <div class="cardContainer">
                <img src="static/assets/placeholder.png" alt="placeholder">
                <div class="cardContent">
                    <div class="cardText">
                        <h2>Burga loca</h2>
                        <p>Una burga de la reconcha de su hermana mal</p>
                        <p class="gray">$20.000</p>
                    </div>
                    <button class="button" onclick="addToCart(1)">Agregar al carrito</button>
                </div>
            </div>
            <div class="cardContainer">
                <img src="static/assets/placeholder.png" alt="placeholder">
                <div class="cardContent">
                    <div class="cardText">
                        <h2>Burga la mas loca</h2>
                        <p>Una burga de la reconcha de su hermana mal pero esta esta RE loca </p>
                        <p class="gray">$200.000</p>
                    </div>
                    <button class="button" onclick="addToCart(2)">Agregar al carrito</button>
                </div>
            </div>
        </section>
        <!---CART---------------->
        <section id="cartContainer" class="sides">
            <div class="stickySide">
                <p class="italics gray right">Carrito</p>
                <hr>
                <div id="cartList">
                    <!-- <p class="gray"> Actualmente, el carrito se encuentra vacio</p> -->
                </div>
                <button class="button">Realizar pedido</button>
            </div>
        </section>
    </main>
    <script src="static/js/header.js" defer></script>
    <script src="static/js/cart.js"></script>
</body>
</html>