@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&display=swap");
header {
  min-height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.474);
  position: fixed;
  display: grid;
  grid-template: "logo nav";
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  transition: min-height 0.2s;
}

.headerNav {
  grid-area: nav;
  transition: max-height 0.3s, padding 0.3s;
  display: flex;
  justify-content: flex-end;
}
.headerNav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  transition: width 0.2s;
}
.headerNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.2s, font-size 0.2s;
}
.headerNav ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.logoNav {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.mini {
  opacity: 0;
  height: 30px;
  transition: opacity 0.2s;
  position: absolute;
}

.full {
  opacity: 100;
  height: 60px;
  transition: opacity 0.2s, transform 0.2s;
}

#menuToggle {
  z-index: 999;
  display: none;
  background-color: transparent;
  grid-area: burger;
  border: none;
  padding: 5px;
  transition: background-color 0.3s;
}
#menuToggle:focus {
  outline: none;
}
#menuToggle div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  position: relative;
  transition: opacity 0.3s, transform 0.3s, top 0.3s;
}

.headerNavActive {
  max-height: 130px !important;
  display: block !important;
  padding: 3%;
}

.headerMini {
  min-height: 50px;
}
.headerMini .headerMini {
  height: 20px;
}
.headerMini .mini {
  opacity: 100%;
}
.headerMini .full {
  opacity: 0;
  transform: scale(0.5) translateX(-100px);
}
.headerMini .headerNav ul {
  width: 60%;
}
.headerMini .headerNav ul li a {
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
  .headerMini .headerNav ul {
    width: 90%;
  }
  .headerMini .headerNav ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 680px) {
  header {
    min-height: 70px;
    grid-template-columns: 1fr;
    grid-template: "logo burger" "nav nav";
    padding: 0 5%;
  }
  header .headerNav {
    max-height: 0px;
    overflow: hidden;
  }
  header .headerNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .headerNav ul li {
    padding-bottom: 2%;
  }
  header .headerNav ul li:last-of-type {
    padding-bottom: 0;
  }
  header #menuToggle {
    display: block;
  }
  header .logoNav {
    justify-self: center;
    height: 50px;
  }
  .headerMini .headerNav ul {
    width: 100%;
  }
  .headerMini .headerNav ul li a {
    font-size: 1.2rem;
  }
}
.filler {
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

main {
  height: 100vh;
  display: grid;
  grid-template: "options products cart";
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 5%;
}

#sideNavContainer {
  grid-area: options;
}
#sideNavContainer a {
  text-decoration: none;
  font-size: 1.2rem;
}
#sideNavContainer li {
  list-style-type: none;
  color: black;
}

#cartContainer {
  grid-area: cart;
  max-width: 100%;
}

.sides {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNav {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stickySide {
  background-color: rgba(0, 0, 0, 0.13);
  padding: 20px;
  border-radius: 15px;
}
.stickySide hr {
  border: solid 1px rgb(187, 187, 187);
}

.textHover {
  transition: transform 0.1s;
}
.textHover:hover {
  transform: scale(105%);
}
.textHover:active {
  transform: scale(98%);
}

.gray {
  color: rgb(187, 187, 187);
  border-color: rgb(187, 187, 187);
}

.italics {
  font-style: italic;
}

#announce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.right {
  text-align: right;
}

#cartList {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  max-height: 500px;
  overflow: auto;
  max-width: 310px;
}

#mainProductsContainer {
  padding: 10% 5%;
}

.cardContainer {
  display: grid;
  grid-template: "img cont";
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
  height: 150px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cardContainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  grid-area: img;
  border-radius: 5px 0 0 5px;
}

.cardContent {
  grid-area: cont;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  padding: 2%;
  width: 300px;
}

.cardCart .cartContent .cardText {
  font-size: 2px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.0823529412);
  color: #333;
  cursor: pointer;
  transition: all 0.1s;
}
.button:hover {
  background-color: #333;
  color: #f5f5f5;
}

/*# sourceMappingURL=styles.css.map */
