@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&display=swap');
@import "sub/header.scss";
@import "sub/main.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: solid 1px red;
}

body {
    height: 100vh;
}

p,a,h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", serif;
}

